.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    top: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 1;
  }
  
  body {
    background-color: #f2f5f7;
    margin-bottom: 5%;
  }
  
  main .container:nth-of-type(1) .row .column{
    margin-top: 5%;
  }
  
  h4 span.small {
   font-size: 1.5rem;
  }
  
  .container.card {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px;
    
}
  
  
  .is-not-expand ul {
    display: none;
  }
  
  ul li { 
   list-style-type: square; 
  } 
  
  button {
    display: block;
    margin: auto;
  }
  
  li {
      list-style-image: url(bullet.png);
  }
 

  .column ul{
      display:none
  }
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: white;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

form {
text-align: center;
}