body{
    background-color: #0a0e16;
}
section{
    display: flex;
}
.test1{
    background-color: #e31d65;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}
.test2{
    background-color:#ff7c35;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}
.test3{
    background-color:#ffcb36;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}
.test4{
    background-color:#25a954;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}
.test5{
    background-color:#007d97;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}
.test6{
    background-color:#553ab8;
    width: 100%;
    height: 150px;
    margin-top: 10%;
    transform: rotate(90deg);
    order: 4;
    border-radius: 10px;
}